<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>EduRoar</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.css')}}">
    <style>
.card {
  width: 100%;
  height: auto; 
  margin:  30px; 
  margin-top: 20px;
}


.card-title, .btn {
  font-size: 2.5em; 
  margin-bottom: 1.2em;
}


.form-check {
  margin-bottom: 1.3em; 
}

.form-check-input {
  margin-right: 20px;
  vertical-align: middle;
  transform: scale(2.5); 
}

.form-check-label {
  vertical-align: middle;
  font-size: 2em; 
  margin-bottom: 1em;
  margin-top: -0.3em; 
}

.score-text {
  font-size: 2em; 
}

.question-card {
  border-color: rgb(255, 49, 49);
}

    </style>
  </head>
<body>

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="{{url_for('index')}}" class="logo">
              <img src="{{url_for('static', filename='assets/images/logo-eduroar.png')}}" alt="">
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="{{url_for('index')}}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{{url_for('index')}}">About</a></li>
              <li class="scroll-to-section"><a href="{{url_for('create')}}">Create a Lesson</a></li> 
              <li class="scroll-to-section"><a href="{{url_for('learn')}}">Learn</a></li>  
              <li class="scroll-to-section"><a href="{{url_for('logout')}}">Logout</a></li>  
              <li class="scroll-to-section"><a href="{{url_for('clear')}}">Clear Quizzes</a></li>              
              <li class="scroll-to-section"><div class="border-login-button"><a href="{{url_for('signin')}}">Sign In</a></div></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  
  <div id="blog" class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="section-heading">
            <h6>Learn</h6>
            <h4>Learn <em> Here</em></h4>
            <h4>Welcome {{ name }} </h4>
            <div class="line-dec"></div>
          </div>
        </div>  
      </div>
    </div>
  </div>  
<div class="d-flex justify-content-center">
    <div id="quiz-selection">
      <div class="row">
        {% if quizzes is not none %}
      {% for quiz, data in quizzes.items() %}
      <div class="card question-card text-center rounded border-3 rounded-pill">
        <div class="card-body">
          <h5 class="card-title">{{ quiz }}</h5>
          <button onclick="startQuiz('{{ quiz }}')" class="btn btn-primary">Start Quiz</button>
        </div>
      </div>
      {% endfor %}
      {% else %}
  <h2>No quizzes available.Create one to start learn</h2>
{% endif %}
    </div>
    </div>
  </div>


  <div class="col d-flex justify-content-center">
  <div id="question-display" style="display: none;">
    <div class="d-flex " style="height: 50vh; width: 70vh;">
      <div class="card question-card rounded border-3 " id="question-card"></div>
    </div>
  </div>
  
  <div id="score-display" style="display: none;">
    <h1>Your Score: <span id="score"></span></h1>
  </div>
</div>
  <script>
  let quizzes = {{ quizzes|tojson|safe }};
  let currentQuiz;
  let currentQuizKey;
  let currentQuestionIndex = 0;
  let score = 0;
  
  function startQuiz(quiz) {
    currentQuiz = quiz;
    currentQuizKey = Object.keys(quizzes[quiz])[0]; // Get the key of the first item in the quiz
    document.getElementById('quiz-selection').style.display = 'none';
    document.getElementById('question-display').style.display = 'block';
    displayQuestion();
  }
  
  function displayQuestion() {
    const question = quizzes[currentQuiz][currentQuizKey]['questions'][currentQuestionIndex];
    const card = document.getElementById('question-card');
    card.innerHTML = `
      <div class="card-body text-justify">
        <h5 class="card-title">${question.question}</h5>
        ${question.options.map(option => `
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="answer" value="${option}">
            <label class="form-check-label" for="${option}">${option}</label>
          </div>
        `).join('')}
      <button type="button" onclick="submitAnswer()" class="btn btn-primary">Submit Answer</button>
      <p><span class="score-text">Current Score: ${score}</span></p>
    </div>
    `;
  }
  
  function submitAnswer() {
    const question = quizzes[currentQuiz][currentQuizKey]['questions'][currentQuestionIndex];
    const answer = document.querySelector('input[name="answer"]:checked').value;
    if (answer === question.answer) {
      score++;
    }
    currentQuestionIndex++;
    if (currentQuestionIndex < quizzes[currentQuiz][currentQuizKey]['questions'].length) {
      displayQuestion(); // Update the question and score display
    } else {
      document.getElementById('question-display').style.display = 'none';
      document.getElementById('score-display').style.display = 'block';
      document.getElementById('score').textContent = score;
    }
  }
  
  </script>


 
  <!-- Scripts -->
  <script src="{{url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/animation.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/imagesloaded.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-auth.js"></script>
  <script src="{{url_for('static', filename='assets/js/intialize_firebase.js')}}"> </script> 

</body>
</html>