<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>EduRoar</title>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/login/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/login/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/login/css/style.css')}}">

    <title>Register to EduRoar</title>
  </head>
<body>

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a href="{{url_for('index')}}" class="logo">
              <img src="{{url_for('static', filename='assets/images/logo-eduroar.png')}}" alt="">
            </a>
            <ul class="nav">
              <li class="scroll-to-section"><a href="{{url_for('index')}}" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{{url_for('index')}}">About</a></li>
              <li class="scroll-to-section"><a href="{{url_for('create')}}">Create a Lesson</a></li>
              <li class="scroll-to-section"><a href="{{url_for('learn')}}">Learn</a></li>  
              <li class="scroll-to-section"><a href="{{url_for('logout')}}">Logout</a></li>                    
              <li class="scroll-to-section"><div class="border-login-button"><a href="{{url_for('signin')}}">Sign In</a></div></li>
            </ul>               
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('https://unsplash.com/photos/3ZvHsFiZyME/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTZ8fHN0dWR5fGVufDB8MXx8fDE3MDgxMzUyNDh8MA&force=true');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Register to <strong>EduRoar</strong></h3>
            <form action="/register" method="post">
              <div class="form-group first">
                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="John" id="name" name="name">
              </div>
              <div class="form-group first">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="your-email@gmail.com" id="email" name="email">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Your Password" id="password" name="password">
              </div>
        
              <button type="submit" class="btn btn-primary">Register</button>

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
 

  <!-- Scripts -->
<script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='assets/login/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/login/js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/login/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/login/js/main.js') }}"></script>

  

</body>
</html>